#######################
#  OpenStack Dev Tmp  #
#######################

*.pem
*.txt

###################
#  Common Python  #
###################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
.env
.venv
env/
venv/
ENV/
